@import "compass";

.quizz-item-display {
    font-size: 32px;
    text-align: center;
}

.memo-card {
    height: 65px;
    text-align: center;
    font-size: 32px;
    line-height: 2;
}

.fade-show,
.fade-hide {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.fade-show,
.fade-hide.fade-hide-active {
    opacity:0;
}
.fade-hide,
.fade-show.fade-show-active {
    opacity:1;
}