<div ng-class="fmtTimeOfGame ? '' : 'hidden'">
    <p></p>
    <div ng-show="fmtTimeOfGame"
         ng-animate="'fade'"
         class="alert alert-block alert-success text-center">
        <h1 class="text-lobster">Congratulations!</h1>
        <button type="button"
                class="btn btn-lg btn-primary btn-block"
                ng-click="repeatGame()">
            <span class="glyphicon glyphicon-repeat"></span>
        </button>
        <h3 class="text-comfortaa">{{ fmtTimeOfGame }}</h3>
    </div>
</div>
