<p></p>
<div class="row-fluid">
    <div class="well well-large">{{ itemToGuessDisplay }}</div>
</div>

<p></p>
<div class="row-fluid">
    <div class="btn-group">
        <button ng-class="{'clean':'btn btn-large', error:'btn btn-large btn-danger disabled', success:'btn btn-large btn-success disabled'}[answer.state]" ng-repeat="answer in answers" ng-click="selectAnswer(answer)">{{ answer.value }}</button>
    </div>
</div>

<p></p>
<div class="row-fluid">
    <div class="btn-group">
        <button ng-class="(selectedLg.name === nameOfLg) ? 'btn btn-large btn-inverse disabled' : 'btn btn-large'" ng-repeat="nameOfLg in namesOfLg" ng-click="selectLanguage(nameOfLg)">{{ nameOfLg }}</button>
    </div>
</div>

<p></p>
<div class="row-fluid">
    <a type="button" class="btn btn-large btn-primary" href="/">Home</a>
</div>
