<div ng-class="isGameOver ? '' : 'hide'">
    <p></p>
    <div ng-show="isGameOver"
         ng-animate="'fade'"
         class="alert alert-block alert-success text-center">
        <h1 class="text-lobster">Well done!</h1>
        <!-- TODO final score -->
        <button type="button"
                class="btn btn-lg btn-primary btn-block"
                ng-click="launchGame()">
            <span class="glyphicon glyphicon-repeat"></span>
        </button>
    </div>
</div>


<div ng-class="isGameOn ? '' : 'hide'">
    <div ng-show="isGameOn" ng-animate="'fade'">

        <div class="canvas-container">
            <canvas id="text_area" class="canvas-draw" width="285px" height="285px"></canvas>
            <canvas id="draw_area" class="canvas-draw" width="285px" height="285px"></canvas>
        </div>

        <p></p>
        <p class="text-right">
            <button type="button"
                    disabled="disabled"
                    class="btn btn-info btn-lg">
                <span>10</span>
            </button>
            <button type="button"
                    class="btn btn-default btn-lg"
                    ng-click="uncoverDraw()">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button type="button"
                    class="btn btn-default btn-lg"
                    ng-click="clearDraw()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button"
                    class="btn btn-default btn-lg"
                    ng-click="replayDraw()">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <button type="button"
                    ng-init="btn_random_css = 'btn btn-default btn-lg '"
                    ng-class="btn_random_css + (isRandom ? 'active' : '')"
                    ng-click="toggleRandom()">
                <span class="glyphicon glyphicon-random"></span>
            </button>
            <button type="button"
                    class="btn btn-primary btn-lg"
                    ng-click="goToNextDraw()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </p>

        <p></p>
        <div class="alert alert-info text-center" ng-animate="'fade'">{{ valuesText }}</div>

        <hr class="featurette-divider">
    </div>
</div>

<languages-toolbar on-select-language="selectLanguage(language)" only-one-character="true"></languages-toolbar>

<home-btn on-go-home="onGoHome()"></home-btn>
