<home-btn on-go-home="onGoHome()"></home-btn>

<languages-toolbar id="languages_lg_tb" on-select-language="selectLanguage(language)" on-set-info="setInfo(info)"></languages-toolbar>

<div ng-class="shouldShowInfo() ? '' : 'hide'">
    <div ng-show="shouldShowInfo()">
        <p></p>
        <div class="alert alert-info text-center">
            <ul class="list-unstyled">
                <li ng-show="data.length"><strong>{{ numStart }} - {{ numStop }}</strong> of <strong>{{ data.length }}</strong></li>
                <li ng-bind-html-unsafe="lgInfo"></li>
            </ul>
        </div>
    </div>
</div>

<div ng-class="shouldShowLanguage() ? '' : 'hide'">
    <div ng-show="shouldShowLanguage()" ng-animate="'fade'">

        <p></p>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div ng-show="isSearchAvailable()">
                        <label for="lg_inputSearchText" class="col-lg-2 control-label">Search text <br/><small style="color:darkgrey">powered by lunr.js</small></label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input ng-model="searchText" type="search" class="form-control" id="lg_inputSearchText" placeholder="Filter rows">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="clearSearchText()"><span class="search-close">&times;</span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="shouldShowPagination()" >
                        <label for="lg_inputPage" class="col-lg-2 control-label">Page ({{inputPage}} / {{ pages }})</label>
                        <div class="col-lg-2">
                            <input type="number" ng-model="inputPage" class="form-control" id="lg_inputPage">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <p></p>
        <ul class="pager" ng-show="shouldShowPagination()">
            <li ng-class="isPreviousEnabled() ? '' : 'disabled'"><a ng-click="goToPrevious()">Previous</a></li>
            <li ng-class="isNextEnabled() ? '' : 'disabled'"><a ng-click="goToNext()">Next</a></li>
        </ul>

        <p></p>
        <table class="table table-bordered">
            <thead ng-if="headers.length > 0">
            <tr>
                <th ng-repeat="header in headers track by $index" ng-bind-html-unsafe="header"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows track by $index">

                <td ng-repeat="col in row.getColumns() track by $index"
                    ng-class="$index === 0 ? 'text-right text-primary' : ''"
                    ><h3 ng-bind-html-unsafe="col.html"></h3></td>

                <td ng-if="cfg.onToggleRow">
                    <button type="button"
                            ng-init="btn_css = 'btn btn-default btn-xs '"
                            ng-class="row.isToggled ? btn_css + 'active' : btn_css"
                            ng-click="cfg.onToggleRow(row)">
                        <span class="glyphicon glyphicon-transfer"></span>
                    </button></td>
            </tr>
            </tbody>
        </table>

        <p></p>
        <ul class="pager" ng-show="shouldShowPagination()">
            <li ng-class="isPreviousEnabled() ? '' : 'disabled'"><a ng-click="goToPreviousFromBottom()">Previous</a></li>
            <li ng-class="isNextEnabled() ? '' : 'disabled'"><a ng-click="goToNextFromBottom()">Next</a></li>
        </ul>

    </div>
</div>


