<home-btn on-go-home="onGoHome()"></home-btn>

<languages-toolbar selected-language="selectedLanguage"></languages-toolbar>

<div ng-class="selectedLanguage? '' : 'hide'">
    <div ng-show="selectedLanguage" ng-animate="'fade'">

        <p></p>
        <div class="alert alert-info text-center" ng-show="selectedLanguage.info">{{ selectedLanguage.info }}</div>

        <p></p>
        <table class="table table-bordered">
            <tbody>
            <tr ng-repeat="row in underscore.range(nbRows)">
                <td ng-class="((row * nbCellsByRow + cell) % 2 === 0) ? 'text-primary text-right' : ''" ng-repeat="cell in underscore.range(nbCellsByRow)">{{ symbols[row * nbCellsByRow + cell] }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


