<h1 class="text-center text-primary">Play!</h1>
<p class="lead text-center text-primary">
Games to help learning new alphabets and languages.
</p>
<p></p>
<div class="btn-group btn-group-justified">
    <a type="button" class="btn btn-large btn-default" href="/#/quizz">Quizz</a>
    <a type="button" class="btn btn-large btn-default" href="/#/memo">Memo</a>
</div>

<p></p>
<div class="alert alert-info text-center">
    <a href="#" class="alert-link">Click <strong>here</strong> to see the categories</a>
</div>

<p></p>
<div ng-if="isInFF">
    <button class="btn btn-large btn-block btn-success" ng-click="installOnFirefoxOs()">
        Install on FirefoxOS
    </button>
</div>

