<div class="jumbotron">
    <h1 class="text-center app-title text-lobster">Play!</h1>

    <p class="lead text-center text-comfortaa">Games to help learning new alphabets and languages.</p>

    <p class="text-lobster" style="margin-bottom: 30px">
        <a type="button" class="btn btn-lg btn-primary btn-block text-larger" href="/#/quizz">Quizz</a>
        <a type="button" class="btn btn-lg btn-primary btn-block text-larger" href="/#/memo">Memo</a>
        <a type="button" class="btn btn-lg btn-primary btn-block text-larger" href="/#/draw">Writing</a>
    </p>

    <p class="text-center text-comfortaa" style="margin-bottom: 30px">
        <a type="button" class="btn btn-lg btn-default btn-block" href="/#/languages" >Checkout the languages</a>
        <button ng-if="isInFF" class="btn btn-lg btn-success btn-block" ng-click="installOnFirefoxOs()">Install on FirefoxOS</button>
    </p>

</div>

