<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">ABCDE</div>
            </div>
        </li>
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">B</div>
            </div>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">A</div>
            </div>
        </li>
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">B</div>
            </div>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">A</div>
            </div>
        </li>
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">B</div>
            </div>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">A</div>
            </div>
        </li>
        <li class="span6">
            <div class="thumbnail">
                <div style="height: 65px;text-align: center;font-size: 32px; line-height: 2;">B</div>
            </div>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <p style="text-align: center;">1/10</p>
    <p></p>
    <a type="button" class="btn btn-large btn-primary" href="/">Home</a>
</div>



