<congratulations-panel elapsed-time-of-game-in-ms="elapsedTimeInMs"
    on-repeat-game="launchGame()"></congratulations-panel>

<div ng-class="isGameOn ? '' : 'hide'">
    <div ng-show="isGameOn" ng-animate="'fade'">

        <p></p>
        <div class="btn-group btn-group-justified"
             ng-repeat="row in underscore.range(nbRows)">

            <a ng-init="_idx = row * nbCellsByRow + cell; _css = 'btn btn-lg ';_css_disabled = _css + 'disabled ';"
               ng-class="{clean:_css + 'btn-default', selected:_css_disabled + 'btn-primary', error:_css_disabled + 'btn-danger', success:_css_disabled + 'btn-success'}[memoCards[_idx].state]"
               ng-style="memoCards[_idx].isKey ? {fontWeight: 'bold'} : {}"
               ng-repeat="cell in underscore.range(nbCellsByRow)"
               ng-click="selectCard(memoCards[_idx])"
               ng-bind-html-unsafe="memoCards[_idx].displayed"></a>
        </div>

        <p></p>
        <p class="text-right">
            <span class="text-info">Toggle the items' visibility</span>
            <button type="button"
                    ng-init="btn_css = 'btn btn-lg btn-primary glyphicon '"
                    ng-class="btn_css + (isGameDisplayed ? 'glyphicon-eye-open' : 'glyphicon-eye-close active')"
                    ng-click="toggleVisibilityMode()"></button>
        </p>
        <p></p>

        <p class="text-right">
            <button type="button"
                    ng-if="cfg.onToggleMemoHelp"
                    ng-init="hep_btn_css = 'btn btn-default btn-lg glyphicon glyphicon-transfer '"
                    ng-class="isMemoHelpToggled ? hep_btn_css + 'active' : hep_btn_css"
                    ng-click="onToggleMemoHelp()"></button>
        </p>

        <p></p>
        <div class="alert alert-info text-center" ng-show="showRules" ng-animate="'fade'">
            Associate the pairs
        </div>

        <hr class="featurette-divider">
    </div>
</div>

<languages-toolbar on-select-language="selectLanguage(language)"></languages-toolbar>

<home-btn on-go-home="onGoHome()"></home-btn>



