<div ng-class="showCongratulations? '' : 'hide'">
    <p></p>
    <div ng-show="showCongratulations"
         ng-animate="'fade'"
         class="alert alert-block alert-success text-center">
        <strong>Congratulations!</strong>
        <p>Done in {{ timeElapsedOfGame }}</p>
    </div>
</div>

<div ng-class="selectedLanguage? '' : 'hide'">
    <div ng-show="selectedLanguage" ng-animate="'fade'">
        <p></p>
        <div class="well well-lg"><h1 class="text-center">{{ itemToGuessDisplay }}</h1></div>

        <p></p>
        <div class="btn-group btn-group-justified">

            <a ng-init="_css = 'btn btn-lg '"
               ng-class="{clean:_css + 'btn-default', error:_css + 'btn-danger disabled', success:_css + 'btn-success disabled'}[answer.state]"
               ng-repeat="answer in answers"
               ng-click="selectAnswer(answer)">
                {{ answer.value }}
            </a>

        </div>

        <p></p>
        <div ng-class="selectedLanguage? '' : 'hide'">
            <p></p>
            <div class="alert alert-info text-center" ng-show="showRules" ng-animate="'fade'">
                Select the right pair
            </div>
        </div>

        <p></p>
        <div class="progress">

            <div ng-class="challenge.isDoneWithoutWrongs ? 'progress-bar progress-bar-success' : 'progress-bar progress-bar-warning'"
                 ng-repeat="challenge in challenges"
                 ng-style="{'width': progressWidthInPct}">
            </div>

        </div>

        <hr class="featurette-divider">
    </div>
</div>


<languages-toolbar selected-language="selectedLanguage"></languages-toolbar>

<div ng-class="showCongratulations? '' : 'hide'">

    <p></p>
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Review the quizz</h3></div>
        <table class="table table-bordered">
            <tbody>

            <tr ng-repeat="challenge in challenges"
                ng-class="challenge.isDoneWithoutWrongs ? 'text-success' : 'text-danger'">
                <td class="text-right">{{ challenge.symbol }}</td>
                <td class="text-left">{{ challenge.answer }}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<home-btn on-go-home="onGoHome()"></home-btn>
