<div ng-show="showCongratulations" ng-animate="{show:'fade'}">
    <p></p>
    <div class="alert alert-block alert-success"><strong>Congratulations!</strong> <p>Done in {{ timeElapsedOfGame }}</p></div>
</div>

<div ng-show="selectedLg" ng-animate="{show:'fade'}">
    <p></p>
    <div class="well well-large quizz-item-display">{{ itemToGuessDisplay }}</div>

    <p></p>
    <div class="btn-group btn-group-justified">
        <a ng-class="{'clean':'btn btn-large btn-default', error:'btn btn-large btn-danger disabled', success:'btn btn-large btn-success disabled'}[answer.state]" ng-repeat="answer in answers" ng-click="selectAnswer(answer)">{{ answer.value }}</a>
    </div>
</div>

<p></p>
<div class="btn-group btn-group-justified">
    <a ng-class="(selectedLg.name === nameOfLg) ? 'btn btn-large btn-primary disabled' : 'btn btn-large btn-default'" ng-repeat="nameOfLg in namesOfLg" ng-click="selectLanguageAndPlay(nameOfLg)">{{ nameOfLg }}</a>
</div>

<p></p>
<home-btn></home-btn>