<congratulations-panel elapsed-time-of-game-in-ms="elapsedTimeInMs"
   on-repeat-game="launchGame()"></congratulations-panel>

<div ng-class="isGameOn ? '' : 'hide'">
    <div ng-show="isGameOn" ng-animate="'fade'">

        <p></p>
        <div class="well well-lg"><h1 class="text-center">{{ itemToGuessDisplay }}</h1></div>

        <p></p>
        <div class="btn-group btn-group-justified">

            <a ng-init="_css = 'btn btn-lg '"
               ng-class="{clean:_css + 'btn-default', error:_css + 'btn-danger disabled', success:_css + 'btn-success disabled'}[answer.state]"
               ng-repeat="answer in answers"
               ng-click="selectAnswer(answer)">
                {{ answer.label }}
            </a>

        </div>

        <p></p>
        <div class="alert alert-info text-center" ng-show="showRules" ng-animate="'fade'">
            Select the right pair (20 questions)
        </div>

        <p></p>
        <div class="progress">

            <div ng-class="challenge.isDoneWithoutWrongs ? 'progress-bar progress-bar-success' : 'progress-bar progress-bar-warning'"
                 ng-repeat="challenge in challenges"
                 ng-style="{'width': progressWidthInPct}">
            </div>

        </div>

        <p></p>
        <p class="text-right">
        <button type="button"
                ng-if="cfg.onToggleQuizzHelp"
                ng-init="btn_css = 'btn btn-default btn-lg glyphicon glyphicon-transfer '"
                ng-class="isQuizzHelpToggled ? btn_css + 'active' : btn_css"
                ng-click="onToggleQuizzHelp(isQuizzHelpToggled)"></button>
        </p>

        <hr class="featurette-divider">
    </div>
</div>


<languages-toolbar on-select-language="selectLanguage(language)"></languages-toolbar>

<div ng-class="elapsedTimeInMs === 0 ? 'hide' : ''">

    <p></p>
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Review the quizz</h3></div>

        <table class="table table-bordered">
            <tbody>

            <tr ng-repeat="challenge in challenges"
                ng-class="challenge.isDoneWithoutWrongs ? 'text-success' : 'text-danger'">
                <td class="text-right"><h3>{{ challenge.symbol }}</h3></td>
                <td class="text-left"><h3>{{ challenge.answer }}</h3></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<home-btn on-go-home="onGoHome()"></home-btn>
